Useful Code/NodeRed/DigitalOutputTest.json
[
    {
        "id": "f0f10bb7.0ee7a8",
        "type": "tab",
        "label": "DIGITAL OUTPUT TEST",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c71a759.5ac3d9",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "33",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 566.2476196289062,
        "y": 81.29397106170654,
        "wires": []
    },
    {
        "id": "df4ac7ab.6f57e8",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 565.2546119689941,
        "y": 123.29166412353516,
        "wires": []
    },
    {
        "id": "765effee.232cb",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "32",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 565.2499618530273,
        "y": 165.28472900390625,
        "wires": []
    },
    {
        "id": "29ef56.500460aa",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "31",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 566.2522964477539,
        "y": 208.28936576843262,
        "wires": []
    },
    {
        "id": "4a9ab26a.f6aeec",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "29",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 566.2453956604004,
        "y": 251.28703117370605,
        "wires": []
    },
    {
        "id": "88333bc5.028388",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "38",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 566.2522964477539,
        "y": 295.2870330810547,
        "wires": []
    },
    {
        "id": "a53c5a32.9ff9a8",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "40",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 565.2522964477539,
        "y": 339.28935050964355,
        "wires": []
    },
    {
        "id": "c26fac32.07e93",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 565.2499809265137,
        "y": 382.291667342186,
        "wires": []
    },
    {
        "id": "f147b35f.7cdde",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "15",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 566.2546081542969,
        "y": 425.29166984558105,
        "wires": []
    },
    {
        "id": "26cba0c8.29b28",
        "type": "rpi-gpio out",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "pin": "37",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 566.2546691894531,
        "y": 40.293975830078125,
        "wires": []
    },
    {
        "id": "9192da33.472458",
        "type": "inject",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 154.25463104248047,
        "y": 227.28008842468262,
        "wires": [
            [
                "78e0ecac.191204"
            ]
        ]
    },
    {
        "id": "78e0ecac.191204",
        "type": "function",
        "z": "f0f10bb7.0ee7a8",
        "name": "",
        "func": "global.out = !global.out;\nmsg.payload = global.out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 305.24538803100586,
        "y": 227.72220993041992,
        "wires": [
            [
                "26cba0c8.29b28",
                "1c71a759.5ac3d9",
                "df4ac7ab.6f57e8",
                "765effee.232cb",
                "29ef56.500460aa",
                "4a9ab26a.f6aeec",
                "88333bc5.028388",
                "a53c5a32.9ff9a8",
                "c26fac32.07e93",
                "f147b35f.7cdde"
            ]
        ]
    }
]